:root{
    --preta: #141414;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--preta);
    font-family: 'Arial', Times, serif;
    color: white;
}

.container{
    display: flex;
    justify-content: space-between;
}

.celulas{
    margin: 10px;
    padding: 10px;
}

.titulo-grafico{
    align-items: center;
}

.tabela{
    flex-grow: 3;
}

table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    padding: 5px;
}